.button {
  background: $main-color;
  font-weight: $normal;
  font-size: 20px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: $global-spacing;
  border: none;
  cursor: pointer;
  font-family: $heading;
}

.login__btn {
  width: 100%;
  font-size: 20px;
  font-weight: $normal;
  margin-top: $global-spacing;
  margin-bottom: $global-spacing;
  background-color: transparent;
  border: 1px solid $secondary-color;
}

.hollow__btn {
  // width: 100%;
  font-size: 20px;
  font-weight: $semibold;
  margin-top: $global-spacing;
  margin-bottom: $global-spacing;
  margin: 0;
  background-color: transparent;
  color: $black-color;
  padding: $global-spacing/3 20px;
  border: 2px solid $main-color;
}

.toggleBtn {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  &--input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  &--slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  &--slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.toggleBtn--input:checked + .toggleBtn--slider {
  background-color: $main-color;
}

.toggleBtn--input:focus + .toggleBtn--slider {
  box-shadow: 0 0 1px #2196f3;
}

.toggleBtn--input:checked + .toggleBtn--slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.toggleBtn--slider {
  border-radius: 34px;
}

.toggleBtn--slider:before {
  border-radius: 50%;
}

@media only screen and (min-width: $max-width) {
  .nav-buttons {
    display: inline-block;
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translate(-5%, -50%);
  }
  .login__btn {
    width: 110px;
    display: inline-block;
    font-size: 16px;
    font-weight: $normal;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .button:hover {
    filter: brightness(80%);
    color: white;
  }
  .hollow__btn:hover {
    filter: none;
    background-color: $main-color;
    color: $background-color !important;
  }
  .login__btn:hover {
    filter: none;
    background-color: $secondary-color;
    color: $black-color !important;
  }
}
